{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <img src="{{ url_for('static', filename='images/' + pattern.image) }}" class="card-img-top" alt="{{ pattern.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ pattern.name }}</h5>
            <p class="card-text">{{ pattern.description }}</p>
            <p class="card-text">{{ pattern.instructions }}</p>
            {% if current_user.is_authenticated and current_user.id == pattern.user_id %}
                <a href="{{ url_for('edit', pattern_id=pattern.id) }}" class="btn btn-primary">Edit</a>
                <form action="{{ url_for('delete', pattern_id=pattern.id) }}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
